.button-continue{
  background-color: #8752B2;
  border: 1px solid #8752B2;
}

.button-continue:hover{
  background-color: #8752B2;
}

.recipient{
  color: #8752B2;
}

.daytime{
  margin-top: 10px;
  margin-bottom: 20px;
}

.indent{
  margin-bottom: 10px;
}

.shipping-wrapper{
  padding-top: 20px;
}

.grey{
  background-color: #F1F3F6;
}

.img-size{
  height: 50px;
}

.wrapper-product{
  margin-top: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid #BDBFC1;
  width: 97%;
}

@media screen and (min-width: 1200px) {
  .wrapper-shipping-width{
    max-width: 450px;
  }

  .wrapper-order-width{
    max-width: 350px;
  }
}

@media screen and (min-width: 992px) {
  .wrapper-shipping-width{
    min-width: 450px;
    max-width: 450px;
  }

  .wrapper-order-width{
    min-width: 350px;
    max-width: 350px;
  }
}

.bg{
  background-color: #E6E9F0;
}

.shipping-color{
  color: #8752B2;
}

.lock{
  font-size: 20px;
}

.first-img{
  background-image: url("./img/backpack.jpg");
}

.second-img{
  background-image: url("./img/bag.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.third-img{
  background-image: url("./img/shoes.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}



